@import './partial/color';
@import './partial/font';

body {
    background-color: $background-primary;
    font-family: $font-fira;
    margin: 0;
    height: 100vh;
}

.header {
    background-color: $background-secondary;
    font-size: 1.6rem;
    padding: .6rem 1.3rem;
    font-weight: bolder;
    color: $text-main;

    display: flex;
    align-items: baseline;
    justify-content: space-between;

    position: sticky;
    top: 0;
    z-index: 1;

    box-shadow: 0 0 10px 5px $background-secondary;

    .time {
        // background-color: $background-primary;
        font-size: 1rem;
        color: $text-secondary;
        // width: 30px;
        // height: 30px;
        padding: .6rem;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color .4s ease;

        &:hover {
            color: $text-main;
        }
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    height: 82%;

    .chat {
        height: 100%;
        position: relative;
        // border: 1px solid red;

        .body {
            background-color: $background-chat;
            height: 100%;
            padding: .5rem;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                background-color: transparent;
            }

            hr {
                width: 25%;
                border: 1px solid rgba($text-main, 0.1);
            }

            .usr_msg {
                // border: 1px solid white;
                padding: 1rem;
                margin: 1rem 0;



                .usr {
                    // border: 1px solid limegreen;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .avater {
                        // border: 1px solid orange;
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                    }
                    .same {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                    .txt {
                        font-size: 1.3rem;
                        text-align: left;
                        padding: 0 1rem;

                        &.name {
                            font-weight: bold;
                            color: $text-main;
                        }

                        &.date {
                            font-size: 1rem;
                            color: $text-secondary;
                        }
                    }

                    
                    
                }

                .content {
                    // border: 1px solid red;
                    color: $text-tools;
                    padding: .5rem;
                }

                &:hover {
                    background-color: $background-secondary;
                }

            }   
            

            
        }

        .msg {

            background-color: $background-chat;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            // border: 1px solid red;
            
            .text {
                background-color: $background-input;
                border: none;
                outline: none;
                width: 90%;
                height: 25px;
                padding: .7rem .8rem;
                font-size: 1rem;
                border-radius: .5rem;
                margin-bottom: 3rem;
                color: $text-secondary;
            }
            
            .tools {
                // border: 1px solid yellowgreen;
                height: 30px;
                padding: .5rem;
                position: absolute;
                bottom: 50%;
                right: 4%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                

                .btn {
                    background: none;
                    border: none;
                    color: $text-tools;
                    font-size: 1.3rem;
                    // border: 1px solid goldenrod;
                    margin: 0 .3rem;
                    transition: color .1s ease;

                    &:hover {
                        color: $text-main;
                    }

                    .send {
        
                    }
                }


            }

        }

    }
}

::-webkit-scrollbar {
    display: none;
}