<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Like Discord | Muhammad Mehedi Hasan</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../public/stylesheets/main.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Header begin -->
    <div class="header">
      <div class="logo">Channel Name</div>
      <div class="time">
        10:13 PM
      </div>
    </div>
    <!-- Header end -->

    <!-- Navbar begin -->
    <div class="navbar"></div>
    <!-- Navbar end -->

    <!-- Content begin -->
    <div class="content">
      <div class="chat">
        <div class="body">
          <!-- ? Dummy Msg -->
          <div class="usr_msg">
            <div class="usr">
              <div class="same">
                              <img
                src="https://cdn.discordapp.com/avatars/647055388524675115/c323ef1551722fe4f2d24d5610585e8e.png?size=128"
                alt="Dummy"
                class="avater"
              />
              <div class="txt name">Muhammad Mehedi Hasan</div>
              </div>

              <div class="txt date">2017 Jan 30 Time: 10:30 PM</div>
            </div>

            <div class="content">

                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
                ut perferendis odio excepturi qui repudiandae commodi
                consequatur sed maxime voluptates.

            </div>
          </div>


          <!-- ! Dummy Msg End -->

          <hr>

          <!-- ? Dummy Msg -->

          <div class="usr_msg">
            <div class="usr">
              <div class="same">
                <img
                src="https://cdn.discordapp.com/avatars/781019512526077972/49afd9fde3aed76bcec11d376bfe2d17.png?size=128"
                alt="Dummy"
                class="avater"
              />
              <div class="txt name">Muhammad Mehedi Hasan</div>
              </div>

              <div class="txt date">2017 Jan 30 Time: 10:30 PM</div>
            </div>

            <div class="content">

                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
                ut perferendis odio excepturi qui repudiandae commodi
                consequatur sed maxime voluptates.

            </div>
          </div>
          <!-- ! Dummy Msg End -->
          
        </div>
        <div class="msg">
          <input type="text" class="text" placeholder="ChannelName #8500" />
          <div class="tools">
            <button class="btn send"><i class="fa fa-paper-plane"></i></button>
            <button class="btn send"><i class="fa fa-plus"></i></button>
            <button class="btn send"><i class="fa fa-plug"></i></button>
          </div>
        </div>
      </div>
    </div>
    <!-- Content end -->

    <!-- Scripts -->
    <script src="../public/javascript/main.js"></script>
  </body>
</html>
